/*removes all preset margin and padding and makes window scale properly*/
body,
html {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: 'Roboto' , sans-serif;
}

body {
<<<<<<< HEAD
  /* Background pattern from Subtle Patterns */
=======
>>>>>>> aa2ea46a0cc7ad764ea4870738baac13ae086c7d
  background: url("../img/sayagata-400px.png");
}



/*The following is from https://codepen.io/samnorton/pen/zBYMJG with small
 adjustments*/
/*
body {
	line-height: 1.6;

}
*/
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
	text-decoration: none;
}



.logo {
	margin: 0;
}

.main-nav {
	margin-top: 5px;

}

.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}

.header,
.main-nav {
  display: flex;
}


.header {

	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;

	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

  flex-direction: column;
  align-items: center;
  .header{
    width: 80%;
    margin: 0 auto;
    max-width: 1150px;
  }
}


/* =================================
  Media Queries
==================================== */





@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}


/*end code*/

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}


.job,
.name {
  padding: 0 5px;
  margin: 3px 0;
  font-family: 'Roboto' , sans-serif;
  text-align: center;
}

.big-pic {
  padding: 15px 0;
  max-width: 100%;
}

main {
  font-family: 'Ubuntu' , sans-serif;
}

.feature {
  font-family: inherit;
  text-align: center;
  color: red;
  font-size: 1.5em;
}

.project-name,
.address {
  margin: 0 auto;
  text-align: center;
}



/*Container for featured projects*/
.featured-container{
  margin: .5em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.project{
  width: 100%;
  max-width: 100%;
}

/*scale pics*/
.featured-pics{
  padding-bottom: .5em;
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}


@media screen and (min-width: 481px) {
  .featured-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    /*parse doesn't recognize space-evenly but I found it on multiple sites
     one example: https://css-tricks.com/almanac/properties/j/justify-content/ */
  }

  .project{
    width: 25%;
    height:30%;
    max-width: 100%;
  }
}
